datasets==2.14.6
nbconvert==7.11.0
nbformat==5.9.2
ndjson==0.3.1
numpy==1.26.1
vllm==0.2.1
torch
tqdm==4.66.1
deepspeed==0.12.2
transformers==4.35.0
accelerate==0.24.1
peft==0.6.0
trl==0.7.2
auto-gptq==0.5.0
bitsandbytes==0.41.2
optimum==1.14.0
jsonlines==4.0.0
fraction==2.2.0